html
  head
    title= title
    style
      block style
      include style.css
  body
    header(class="div1")
        h1 Server Oauthentication
    block foot
    div(class="div1")
        ul
            li: a(href='/') Home Page
            li: a(href='/profile') My Profile

    block content
    