body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

p {
/* font-size: calc(6px + (25 - 6) * ((100vw - 200px)/(1600 - 200))); */
font-weight: bold;
margin: 30px;
}

.p4 {
font-size: calc(10px + 1.5vw);
}

.div1 {
  height: calc(100% / 3);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.box1 {
  --width: calc(100% / 3);
  width: var(--width);
  height: 100% ;
}

.box1 > p {
  font-size: calc(6px + 1.2vw);
}

.box2 {
  width: calc(100% / 2);
  height: 100%;
}

.box2 > p {
    font-size: calc(6px + (25 - 6) * ((100vw - 200px)/(1600 - 200)));
